# Node.js
node_modules
package-lock.json
npm-debug.log*
yarn-error.log*

# TypeScript output
build
dist/*
!dist/esm/**

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Test files
coverage
tests

# Temporary files
*.log
*.tmp

# TypeScript config
tsconfig.json
tsconfig.esm.json

# Jest config
jest.config.js

# Source files
src
