# Node.js junk
node_modules
package-lock.json
npm-debug.log*
yarn-error.log*

# TypeScript build output
build
dist/*
!dist/index.js
!dist/index.d.ts
!dist/esm/index.js
!dist/esm/index.d.ts

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Test and coverage
coverage
tests

# Temp files
*.log
*.tmp

# Config files you don't want to ship
tsconfig.json
tsconfig.esm.json
jest.config.js

# Source files
src
